html {
  scroll-behavior: smooth;

}

body {
  background: rgb(2, 0, 36);
  background-image: linear-gradient(180deg, rgba(2, 0, 36, 1)0%, rgba(21, 83, 213, 1)70%, rgba(26, 105, 255, 1)100%);
}

p.iam {
  font-size: 500%;
  z-index: 1;
  font-weight: bold;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(214, 214, 214);
  margin: 4% auto auto 30%;
}

p.nihal {
  font-size: 2em;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(214, 214, 214);
  margin: 0% auto auto 30.4%;
}

div.header {
  display: flex;
  width: 100%;
}
div.menubar {
  width: 100%;
  height: 6%;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  z-index: 1;
}

div.options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  width: auto;
  height: 100%;

}

a.home {
  background-color: black;
  height: 100%;
  width: 500%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 1s ease 0s;
}

a.home:hover {
  opacity: 0.6;
}

a.about {
  background-color: black;
  height: 100%;
  width: 500%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 1s ease 0s;
}

a.about:hover {
  opacity: 0.6;
}

a.connect {
  background-color: black;
  height: 100%;
  width: 500%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 1s ease 0s;
}

a.connect:hover {
  opacity: 0.6;
}

a.blog {
  background-color: black;
  height: 100%;
  width: 500%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 1s ease 0s;
}

a.blog:hover {
  opacity: 0.6;
}

a {
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

div.sec1 {
  height: 100%;
  width: 100%;
  margin-top: 35px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.outerdiv {
  display: flex;
  align-content: space-around;
  width: 300%;
  height: 60%;
  backdrop-filter: blur(4px) saturate(191%);
  -webkit-backdrop-filter: blur(4px) saturate(191%);
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  overflow-x: auto;
  overflow-y: hidden;
  animation: myAnim 1.5s linear 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-10px);
  }

  25% {
    opacity: 0.5;
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.outerdiv::-webkit-scrollbar {
  width: 0;
}

div.innerdiv {
  scroll-snap-align: start;
  min-width: 99%;
  height: 21rem;
  margin: 8px;
}

img.char3d {
  z-index: 2;
  position: relative;
  width: 30%;
  height: auto;
  margin: auto auto auto 50%;
  bottom: 50%;

}

div.sec2 {
  background: black;
  height: 103%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin-top: 35px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -8px;
  width: 102%;


}

div.sec3 {
  background: rgb(0, 255, 21);
  height: 103%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -8px;
  width: 102%;
} 
div.sec4 {
  background: rgb(134, 15, 15);
  height: 103%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -8px;
  width: 102%;
}

@media only screen and (max-width: 480px) {
  body {
 background-color: white;
}
