html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  background: #01148B;
  background: linear-gradient(180deg, #01148B 0%, rgba(0, 0, 0, 1) 72%);
  margin: 0%;
}

p.iam {
  font-size: 500%;
  z-index: 1;
  font-weight: bold;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(214, 214, 214);
  margin: 4% auto auto 30%;
}

p.nihal {
  font-size: 2em;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(214, 214, 214);
  margin: 0% auto auto 30.4%;
}

div.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  z-index: 5;
}

div.menubar {
  width: 60%;

}

div.options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  width: auto;
  height: 100%;

}


a.nav {
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  height: 100%;
  width: 500%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 1s ease 0s;

}

a.nav:hover {
  opacity: 0.6;
}

a:link {
  text-decoration: none;
}

div.sec1 {
  height: 100%;
  width: 100%;
  margin: 0%;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Created with https://www.css-gradient.com */
  background: #0198FF;
  background: -webkit-radial-gradient(bottom right, #0198FF, #01148B);
  background: -moz-radial-gradient(bottom right, #0198FF, #01148b);
  background: radial-gradient(to top left, #0198FF, #01148B);
}


h1.iam {
  color: rgb(225, 226, 228);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 2;
  position: absolute;
  left: 10%;
  top: 25%;
}

text.nihal {
  color: rgb(225, 226, 228);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 2;
  position: absolute;
  left: 9.6%;
  top: 33%;
  font-size: 6em;
}

img.char3d {
  z-index: 1;
  position: relative;
  min-width: 25%;
  width: 25%;
  height: auto;
  margin: 10px;
  right: 45%;
  top: 0%;
}

img.office {
  z-index: 0;
  position: absolute;
  min-width: 60%;
  width: 60%;
  height: auto;
  margin: 10px;
  right: 0%;
  left: 42%;
  top: -10%;
  overflow-x: hidden;
  overflow-y: hidden;
  filter: drop-shadow(6px 2px 5px #0202277e);
}

div.container {
  z-index: 1;
  backdrop-filter: blur(9px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.26);
  position: absolute;
  width: 50%;
  height: 65%;
  right: 45%;
  top: 20%;
}

div.sec2 {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0%;
  width: 100%;
  background: rgb(17, 17, 17);
}

q.about {
  text-align: center;
  width: 70%;
  font-family: 'Helvetica';
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #c8d600;
}

div.sec3 {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

  margin: 0%;
  width: 100%;
}

div.accounts {
  width: 100%;
  height: 50%;
  z-index: 1;
  padding-top: 12%;
  display: flex;
  justify-content: space-around;
}

div.insta {
  background-image: linear-gradient(180deg, #673bce 0%, rgba(255, 4, 180, 0.87) 72%);
  height: 90%;
  width: 20%;
  border-radius: 10px;
  backdrop-filter: blur(30px) saturate(180%);
}

div.snap {
  background-image: linear-gradient(120deg, #fffb00 0%, rgba(255, 217, 4, 0.808) 72%);
  height: 90%;
  width: 20%;
  border-radius: 10px;
  backdrop-filter: blur(30px) saturate(180%);
}

div.twitter {
  background-image: linear-gradient(180deg, #2679e6 0%, rgba(17, 80, 253, 0.87) 72%);
  height: 90%;
  width: 20%;
  border-radius: 10px;
  backdrop-filter: blur(30px) saturate(180%);
}

div.github {
  background-image: linear-gradient(180deg, #1e1f1c 0%, rgba(37, 39, 33, 0.87) 72%);
  height: 90%;
  width: 20%;
  border-radius: 10px;
  backdrop-filter: blur(30px) saturate(180%);
}
div.acnames {
  position: absolute;
  width: 100%;
  height
  top: 10px;
}

span.ignihal {
  width: 20%;
  position: absolute;
  left: 10%;

}

span.scnihal {
  width: 20%;
  position: absolute;
  left: 35%;

}

span.twnihal {
  width: 20%;
  position: absolute;
  left: 60%;

}

span.gitnihal {
  width: 20%;
  position: absolute;
  left: 84%;

}

div.sec4 {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0%;
  width: 100%;
}

@media screen and (max-width:600px) {
  div.container {
    width: 90%;
    height: 30%;
    right: 5%;
    top: 20%;
    visibility: hidden;
  }

  img.office {
    width: 100%;
    top: 20%;
    left: -3%;
  }

  a.nav {
    font-size: 50%;
  }

  div.header {
    height: 5%;
  }

  h1.iam {
    top: 6%;
    left: 10.4%;
  }

  text.nihal {
    top: 13%;
  }
}
